{{include('partials/header.html.twig')}}

<div class="container">
    <h2>Aucun bénévole n'est encore importé</h2>

    {{ form_start(form) }}
    <div class="centered">
        {{ form_widget(form) }}
    </div>
    {{ form_end(form) }}
</div>

{{include('partials/footer.html.twig')}}